/* C:\Users\ASUS ZenBook\Documents\Portfolio Projects\NotExtension\popup\src\index.css */

:root {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color-scheme: light;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #111;
}

#root {
  width: 100%;
  height: 100%;
}

button {
  font: inherit;
  color: inherit;
}

.noteTextarea::-webkit-resizer {
  display: none;
}
.noteTextarea {
  resize: vertical;
  overflow: auto;
}
